<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="div-bg-table warehouse-bg">
        <a th:unless="false" href="/warehouse/register">
            <h2 class="text-center text-dark">REGISTER NEW WAREHOUSE</h2>
        </a>
        <h2 class="text-center">ALL WAREHOUSES</h2>
        <table id="myTable" class="display table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Warehouse</th>
                <th>Name</th>
                <th>Address</th>
                <th>Active status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="warehouse: ${warehouses}">
                <td th:text="${warehouse.getWarehouse()}"/>
                <td th:text="${warehouse.getName()}"/>
                <td th:text="${warehouse.getAddress()}"/>
                <td th:if="${warehouse.isActive()}" th:text="Active" class="text-success"/>
                <td th:unless="${warehouse.isActive()}" th:text="Deactivated" class="text-danger"/>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
<script src="/js/table.js"></script>
</html>