<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="div-contact">
        <th:block th:if="false" th:include="~{warehouse/details-display}"/>
        <th:block th:unless="false" th:include="~{warehouse/details-edit}"/>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
<script src="/js/inputValidator.js"></script>
</html>