<th:block th:fragment>
    <form class="contacts" id="form-warehouse" method="post" th:action="@{/warehouse/__${warehouse.getWarehouse()}__}">
        <h2 class="text-light">Warehouse Details</h2>
        <th:block th:if="${error}">
            <div class="alert-danger" th:text="${error}"/>
        </th:block>
        <h5 class="text-light">Warehouse</h5>
        <input class="form-control" type="text" disabled th:value="${warehouse.getWarehouse()}" name="warehouse" placeholder="Warehouse">
        <h5 class="text-light">Name</h5>
        <input class="form-control" type="text" th:value="${warehouse.getName()}" name="name" placeholder="Name">
        <h5 class="text-light">Address</h5>
        <input class="form-control" type="text" th:value="${warehouse.getAddress()}" name="address" placeholder="Address">
        <div class="row" th:if="${warehouse.isActive()}">
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-success">Active</h3>
                <input class="form-control" type="radio" id="active" value="true" checked name="active">
            </label>
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-danger">Deactivated</h3>
                <input class="form-control" type="radio" id="active" value="false" name="active">
            </label>
        </div>
        <div class="row" th:unless="${warehouse.isActive()}">
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-success">Active</h3>
                <input class="form-control" type="radio" id="active" value="true" name="active">
            </label>
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-danger">Deactivated</h3>
                <input class="form-control" type="radio" id="active" value="false" checked name="active">
            </label>
        </div>
        <input class="btn btn-lg btn-light" type="submit" value="Edit Warehouse">
    </form>
</th:block>