<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="div-contact">
            <form class="contacts" id="form-company" method="post" th:action="@{/company/__${company.getCompanyCode()}__}">
                <label class="contacts">
                    <h2 class="text-light">Company Details</h2>
                    <th:block th:if="${error}">
                        <div class="alert-danger" th:text="${error}"/>
                    </th:block>
                    <h5 class="text-light">Company</h5>
                    <input class="form-control" type="text" disabled th:value="${company.getCompanyCode()}" name="companyCode" placeholder="Company">
                    <h5 class="text-light">Name</h5>
                    <input class="form-control" type="text" th:value="${company.getName()}" name="name" placeholder="Name">
                    <h5 class="text-light">e-mail</h5>
                    <input class="form-control" type="text" th:value="${company.getEmail()}" name="email" placeholder="e-mail">
                    <h5 class="text-light">Address</h5>
                    <input class="form-control" type="text" th:value="${company.getAddress()}" name="address" placeholder="Address">
                    <h5 class="text-light">Register Number</h5>
                    <input class="form-control" type="number" th:value="${company.getRegisterNumber()}" name="registerNumber" placeholder="Register Number">
                    <h5 class="text-light">VAT Number</h5>
                    <input class="form-control" type="number" th:value="${company.getVatNumber()}" name="vatNumber" placeholder="VAT Number">
                    <div class="row" th:if="${company.isActive()}">
                        <label class="col-md-6 col-sm-12" for="active">
                            <h3 class="text-center text-success">Active</h3>
                            <input class="form-control" type="radio" id="active" value="true" checked name="active">
                        </label>
                        <label class="col-md-6 col-sm-12" for="active">
                            <h3 class="text-center text-danger">Deactivated</h3>
                            <input class="form-control" type="radio" id="active" value="false" name="active">
                        </label>
                    </div>
                    <div class="row" th:unless="${company.isActive()}">
                        <label class="col-md-6 col-sm-12" for="active">
                            <h3 class="text-center text-success">Active</h3>
                            <input class="form-control" type="radio" id="active" value="true" name="active">
                        </label>
                        <label class="col-md-6 col-sm-12" for="active">
                            <h3 class="text-center text-danger">Deactivated</h3>
                            <input class="form-control" type="radio" id="active" value="false" checked name="active">
                        </label>
                    </div>
                    <!--<h3 th:if="${company.isActive()}" class="text-center text-success">Active</h3>
                    <h3 th:unless="${company.isActive()}" class="text-center text-danger">Deactivated</h3>-->
                    <input class="btn btn-lg btn-light" type="submit" value="Edit Company">
                </label>
            </form>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
<script src="/js/alert.js"></script>
</html>