<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="div-contact">
            <form class="contacts" id="form-company" method="post" th:action="@{/company/register}">
                <label class="contacts">
                    <h2 class="text-light">Register Company</h2>
                    <th:block th:if="${error}">
                        <div class="alert-danger" th:text="${error}"/>
                    </th:block>
                    <input class="form-control" type="text" name="companyCode" placeholder="Company">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                    <input class="form-control" type="text" name="email" placeholder="e-mail">
                    <input class="form-control" type="text" name="address" placeholder="Address">
                    <input class="form-control" type="number" name="registerNumber" placeholder="Register Number">
                    <input class="form-control" type="number" name="vatNumber" placeholder="VAT Number">
                    <input class="btn btn-lg btn-light" type="submit" value="Register Company">
                </label>
            </form>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
<script src="/js/alert.js"></script>
</html>