<th:block th:fragment>
    <form class="contacts" id="form-partner" method="post" th:action="@{/partner/__${partner.getPartner()}__}">
        <h2 class="text-light">Partner Details</h2>
        <th:block th:if="${error}">
            <div class="alert-danger" th:text="${error}"/>
        </th:block>
        <h5 class="text-light">Partner</h5>
        <input class="form-control" type="text" disabled th:value="${partner.getPartner()}" name="partner" placeholder="Partner">
        <h5 class="text-light">Name</h5>
        <input class="form-control" type="text" th:value="${partner.getName()}" name="name" placeholder="Name">
        <h5 class="text-light">e-mail</h5>
        <input class="form-control" type="text" id="email" th:value="${partner.getEmail()}" name="email" placeholder="e-mail">
        <h5 class="text-light">Address</h5>
        <input class="form-control" type="text" th:value="${partner.getAddress()}" name="address" placeholder="Address">
        <h5 class="text-light">Register Number</h5>
        <input class="form-control" type="number" min="0" step="1" th:value="${partner.getRegisterNumber()}" name="registerNumber" placeholder="Register Number">
        <h5 class="text-light">VAT Number</h5>
        <input class="form-control" type="number" min="0" step="1" th:value="${partner.getVatNumber()}" name="vatNumber" placeholder="VAT Number">
        <div class="row" th:if="${partner.isActive()}">
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-success">Active</h3>
                <input class="form-control" type="radio" id="active" value="true" checked name="active">
            </label>
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-danger">Deactivated</h3>
                <input class="form-control" type="radio" id="active" value="false" name="active">
            </label>
        </div>
        <div class="row" th:unless="${partner.isActive()}">
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-success">Active</h3>
                <input class="form-control" type="radio" id="active" value="true" name="active">
            </label>
            <label class="col-md-6 col-sm-12" for="active">
                <h3 class="text-center text-danger">Deactivated</h3>
                <input class="form-control" type="radio" id="active" value="false" checked name="active">
            </label>
        </div>
        <input class="btn btn-lg btn-light" type="submit" value="Edit Partner">
    </form>
</th:block>