<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="div-bg-table invoice-bg">
        <a href="/invoice/create">
            <h2 class="text-center text-dark">CREATE NEW INVOICE</h2>
        </a>
        <h2 class="text-center">ALL INVOICES</h2>
        <table id="myTable" class="display table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Number</th>
                <th>Partner</th>
                <th>Material</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Invoice Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="invoice: ${invoices}">
                <td th:text="${#numbers.formatDecimal(invoice.getId(), 9, 0)}"/>
                <td th:text="${invoice.getPartner().getName()}"/>
                <td th:text="${invoice.getMaterial().getDescription()}"/>
                <td th:text="${invoice.getQuantity()}"/>
                <td th:text="${invoice.getMaterial().getUnitOfMeasure()}"/>
                <td th:text="${#numbers.formatDecimal(invoice.getMaterial().getPrice().multiply(invoice.getQuantity()), 1, 2)}"/>
                <td th:if="${invoice.getDocumentType().equals('INBOUND')}" th:text="Inbound" class="text-success"/>
                <td th:unless="${invoice.getDocumentType().equals('INBOUND')}" th:text="Outbound" class="text-danger"/>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
<script src="/js/table.js"></script>
</html>