<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="row div-home">
        <div class="col-md-4 col-sm-12">
            <a href="#" class="icon-container">
                <img src="../img/warehouse-logo3.jpg">
                <h2 class="text-light text-center">Warehouses</h2>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="#" class="icon-container">
                <img src="../img/goods-logo2.png">
                <h2 class="text-light text-center">Materials</h2>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="#" class="icon-container">
                <img src="../img/goods-mv-logo3.png"/>
                <h2 class="text-light text-center">Goods movements</h2>
            </a>
        </div>
    </div>
    <div class="row div-home">
        <div class="col-md-4 col-sm-12">
            <a href="#" class="icon-container">
                <img src="../img/company-logo1.jpg">
                <h2 class="text-light text-center">Company</h2>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="#" class="icon-container">
                <img src="../img/partners-logo1.jpg">
                <h2 class="text-light text-center">Partners</h2>
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="#" class="icon-container">
                <img src="../img/users-logo1.png">
                <h2 class="text-light text-center">Users</h2>
            </a>
        </div>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>